.jobListWrapper{
    display : flex;
    flex-direction : column;
    margin : 1.5rem;
        a{
            text-decoration: none;
            padding : .9rem;
            font-weight: 500;
            &:link{
                color : black;
            }
            &:active{
                color: black;
            }
            &:visited{
                color: black;
            }
        }

}